# Разработка скрипта на Python

## Эмуляция таблицы параметров полученных из из Power BI
Обратите внимание, что дата передана в строковом формате и ниже в основном скрипте приведена средствами Python к дате.

In [1]:
import pandas as pd

Parameters = pd.DataFrame(
    [ [ "01.07.2018", "31.07.2018"] ],
    columns = ['FromDate','ToDate'] 
)

## Реализация срипта

In [4]:
# Импортируем библиотеку работы с таблицами Pandas 
import pandas as pd

# Готовим параметры для использования
# Так как параметры даты, времени внутрь Python из Power BI передаются не совсем корректно (с ошибкой).
# Удобно параметры даты передать в строковом виде, а затем привести обрратно в дате.
Parameters['FromDate'] = pd.to_datetime( Parameters['FromDate'], format="%d.%m.%Y" )
Parameters['ToDate'] = pd.to_datetime( Parameters['ToDate'], format="%d.%m.%Y" )

# Получаем данные из внешней системы. Для демо примера просто создаем вручную таблицу в Pandas 
Sales = pd.DataFrame( [
        ["01.07.2018", 10], 
        ["01.08.2018", 20], 
        ["01.09.2018", 30]
    ], columns=['Date', 'Amount' ] 
)
Sales['Date'] = pd.to_datetime(Sales['Date'],format="%d.%m.%Y")

# Применяем бизнес правила и параметры полученные из Power BI к таблице и возвращаем результат
Result = Sales[ Sales['Date'] > Parameters['FromDate'][0] ]

## Провера результатов

In [5]:
Parameters

    FromDate     ToDate
0 2018-07-01 2018-07-31

In [6]:
Sales

        Date  Amount
0 2018-07-01      10
1 2018-08-01      20
2 2018-09-01      30

In [7]:
Result

        Date  Amount
1 2018-08-01      20
2 2018-09-01      30